.markdownWrapper {
  margin: 20px 0;
}

.markdownContent {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

code {
  font-family: Monaco, monospace;
  font-size: 13px;
  letter-spacing: -0.05em;
  word-break: normal;
}
